@tailwind base;
@tailwind components;
@tailwind utilities;
@import "rsuite/dist/rsuite.css";

:root {
    --primary-color: #78a206
}

.dropdown:hover > .dropdown-content {
	display: block;
}

.wp-block-heading {
    @apply text-2xl font-bold py-6;
}


::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3d464d;  
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}